@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="text-align: center;">CRUD MENU EXAMPLE</h1><br/>
    <p><a href="~/Home/LearnMore" class="btn btn-primary btn-lg">Learn More&raquo;</a></p>
</div>
<br/>
<img style="margin-left: auto; margin-right: auto;" class="img-responsive" src="~/Content/Schema.jpg" />

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>