<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cop4834schooldatabase.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>cop4834schooldatabase.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>COP4834SchoolDatabase</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$COP4834SchoolDatabase</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:chaos3.database.windows.net,1433;Initial Catalog=db3;User ID=bandicoot@chaos3;Password=Rcgats4u2_1;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="COP4834SchoolDatabase.Models.ApplicationDbContext, COP4834SchoolDatabase" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="db3Context" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:chaos3.database.windows.net,1433;Initial Catalog=db3;User ID=bandicoot@chaos3;Password=Rcgats4u2_1;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="COP4834SchoolDatabase.Models.db3Context, COP4834SchoolDatabase" MigrationConfiguration="COP4834SchoolDatabase.Migrations.Configuration, COP4834SchoolDatabase" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="dbContext" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:chaos3.database.windows.net,1433;Initial Catalog=db3;Persist Security Info=True;User ID=bandicoot@chaos3;Password=Rcgats4u2_1;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|dbContext-20160318143821.mdf;Initial Catalog=dbContext-20160318143821;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\dbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=dbContext-20160318143821; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|dbContext-20160318143821.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)db3Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:chaos3.database.windows.net,1433;Initial Catalog=db3;User ID=bandicoot@chaos3;Password=Rcgats4u2_1;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)dbContext-Web.config Connection String">
      <ParameterValue>data source=tcp:chaos3.database.windows.net,1433;initial catalog=db3;persist security info=True;user id=bandicoot@chaos3;password=Rcgats4u2_1;connect timeout=30;encrypt=True;trustservercertificate=False;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:chaos3.database.windows.net,1433;Initial Catalog=db3;User ID=bandicoot@chaos3;Password=Rcgats4u2_1;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>