@{
    ViewBag.Title = "Mr. Hipster Coolcat";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



<img style="min-width: 280px; max-width: 300px;"src="http://www.josecolmentersdesigns.com/wp-content/uploads/2015/07/Bye-Bye-hipster.jpg" />

<div style="min-width: 280px; max-width: 300px"> <strong>Along time ago, in a galaxy far, far, away...
    That's the way I like to start out every story</strong></div>

