@{
    ViewBag.Title = "Need more information?  Fill out the form.";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



<a href="http://cop4834a1crawf.azurewebsites.net/ContactForms/Create">Click here to leave a message</a>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>



<h2>We have solutions.</h2>
<address>
    
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@172bandicoots.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@172bandicoots.com</a>
</address>