@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<img src="http://www.josecolmentersdesigns.com/wp-content/uploads/2015/07/Bye-Bye-hipster.jpg" />

<address>
    <h2></br>We have solutions.</br></h2>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@172bandicoots.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@172bandicoots.com</a>
</address>