@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Todd Crawford</h1>
    <p class="lead">Cloud-based web application</p>
    <p><a href="http://www.172bandicoots.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Education</h2>
        <p>
            What I have learned. 
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Portfolio</h2>
        <p>What I have done.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Skills</h2>
        <p>What I can do for you.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>