@{
    ViewBag.Title = "TimeSheet";
}


<h2>IT WORKS FOR BUSINESS</h2>
<div class="row">
    <div class="col-md-4">
        <br>
        <img class="img-responsive" src="~/Content/hg-logo-sm.png" alt="Hour Glass Image">
    </div>
    <!--customizable for company brand-->
    <div class="col-md-6">
        <br>
        <h3>What can it do for you?</h3>
        <p>
            TimeSheet is simple online web application that allows your contract associates to easily
            log their hours from remote client locations.  Timesheet allows you to easily visualize
            billing hours for both clients and payroll for employees from one centralized responsive website.
        </p>
        <p>
            <ul>
                <li>Simple</li>
                <li>Intuitive</li>
                <li>Access from virtually anywhere you via the Internet</li>
                <li>Customizable splash screen to flaunt your brand</li>
                <li>Secure SSL encryption ensures privacy</li>
                <li>Utilizes the latest Microsoft cloud-based technology</li>
            </ul>
        </p>
    </div>
</div>
<img class="img-responsive" src="~/Content/people.jpg" alt="Hour Glass Image">

<p>
    Email for more information on how TimeSeet can work for you. 
    <a href="mailto:TSCWM@TimeSheet.com">TSCWM@TimeSheet.com</a>

</p>










