@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <!--customize-->
    <img class="img-responsive" src="~/Content/ts_banner.gif" alt="Hour Glass Image">
    <div class="row">
        <div class="col-md-4">
            <!--customize-->
        </div>
        <div  class="col-md-8">
            <!--customize-->
        </div>
    </div>
 </div>
<div class="row">
    <div class="col-md-4">
        <a style="width: 320px;" href="~/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </div>
    <div class="col-md-1">
       <!--fill-->
    </div>
    <div style="vertical-align: middle;" class="col-md-6">
        <h2 >IT WORKS FOR BUSINESS</h2>
    </div>
</div>
       
