@model IEnumerable<COP4834SchoolDatabase.Models.Assignment>

@{
    ViewBag.Title = "Index";
}
<style>
    .cell{
        margin-left: 5px;
    }
</style>
<h2>Index</h2>
<table class="table">
    <tr>
        <th>
           <span class="cell">Name</span>
        </th>
        @foreach (var item in Model)
        {
          <th>
            <span class="cell"> @Html.DisplayFor(modelItem => item.AssignmentName) </span>
          </th>
        }
    </tr>   
@foreach (var stdName in ViewBag.Students)
{
    <tr>
        <td>
            @stdName.StudentName
        </td>       
        @foreach (var stdScore in ViewBag.Grades)
        {
            if (stdName.StudentID == stdScore.StudentID) {
                <td>
                    <span class="cell">@stdScore.Score</span>
                </td>
            }
        }

    </tr>
}
</table>
