

<h2>Grade Information</h2>
<h2>This assignment has already been graded for the student</h2>
<p>
    If you want to change or remove the existing score, please choose Edit or Delete from the <a href="~/Grades/Index">Grades</a> table. 
</p>